{% extends 'base.html' %}
{% load static i18n %}

{% block title %}{% trans 'Ask a question' %}{% endblock %}

{% block extrahead %} 
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            tex2jax: {inlineMath: [["$","$"],["\\(","\\)"]]}
        });
    </script>
    <script type="text/javascript" src="/static/mathJax/MathJax.js?config=TeX-AMS_HTML-full"></script>
    {{ block.super }}

{% endblock %}

{% block body %}

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="">{% trans 'Home' %}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'qa:index_all' %}">{% trans 'Q&A' %}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{% trans 'Ask a question' %}</li>
    </ol>
  </nav>
  <form action="{% url 'qa:ask_question' %}" enctype="multipart/form-data"  id="question-form" method="post" role="form">
    {% csrf_token %}
    {{ form }}
    <div class="form-group">
      <button id="publish" type="button" class="btn btn-primary">{% trans 'Publish' %}</button>
      <a href="{% url 'qa:index_all' %}" class="btn btn-default">{% trans 'Cancel' %}</a>
    </div>
  </form>
    
    <script type="text/javascript" src="/static/markdownx/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/static/markdownx/js/markdownx.js"></script>
    <script type="text/javascript" src="/static/markdownx/js/math-editor-connector.js"></script>
    <script src="{% static 'js/qa/qa.js' %}"></script>


{% endblock body %}
