{% extends "admin/auth/user/add_form.html" %}
{% load staticfiles %}

{% block extrahead %}{{ block.super }}
    <script type="text/javascript" src='/static/admin/js/vendor/jquery/jquery.js'></script>
    <script type="text/javascript">
        var answersJson = [];
    </script>
    <script type="text/javascript" src='/static/scripts/quizzes/admin-change_form.js'></script>
{% endblock %}

{% block form_top %}
		{{block.super}}

		
        <input id='addAnswerBtn' type="button" value="add answer" >
        <div class='form-row' id='answer-field-container'>
			<div>
				heellllllllll
			</div>
        </div>
    
{% endblock %}
