{% extends "admin/change_form.html" %}
{% load staticfiles %}

{% block extrahead %}{{ block.super }}
    {% if is_quiz_admin %}
        <script type="text/javascript" src='/static/admin/js/vendor/jquery/jquery.js'></script>
        <script type="text/javascript" src='/static/js/quizzes/admin-change_form.js'></script>
    {% endif %}
{% endblock %}

{% block form_top %}{{block.super}}
    {% if is_quiz_admin %}
    <input id='quiz_id' type="hidden" value="{{ quiz_id }}"/>
        <input id='addAnswerBtn' type="button" value="add answer" />   
        <fieldset class = 'module aligned'>
            <fieldset class='form-row field-answer'>
                <div id='answer-field-container'></div>
            </fieldset>
        </fieldset> 

    {% endif %}
{% endblock %}
