{% extends 'quizzes/base.html' %}
{% block script %}

    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            tex2jax: {inlineMath: [["$","$"],["\\(","\\)"]]}
        });
    </script>
     <!-- <script type="text/javascript" src="/static/mathJax/MathJax.js?config=TeX-AMS_HTML-full"></script> -->
     <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?..."></script>
{% endblock %}

{% block body%}
    <a href='/accounts/profile'><input type="button" value="پروفایل"/></a>
    <p>
        جمع کل : {{ statistic.0.total_score }} <br />
        جمع نمرات مثبت :{{ statistic.0.positive_score }} <br />
        جمع نمرات منفی :{{ statistic.0.negative_score }} <br />
    </p>
    {% for exam in object %}
        {% for status in exam.quizstatus_set.all %}
            <p>
                {{status.quiz.get_markdownify_content | safe }}

                جواب شما :{{status.user_answer.get_markdownify | safe}}
                {%for answer in status.quiz.answer_set.all %}    
                    {% if answer.is_correct_answer%}   
                         جواب درست :{{answer.get_markdownify | safe}}
                        
                         {% if status.user_answer.pk == answer.pk%}
                             افرین جواب شما درست است 
                        {% else %}
                             جواب شما غلط هست دفعه بعد بیشتر سعی کنید 
                        {% endif%}
                    {% endif%}
                {% endfor %}
                <br />
                سطح سوال : {{ status.quiz.level }}  
            </p>
            <br /><br />
        {% endfor %}
    {% endfor %}
{% endblock %}