{% extends 'base.html' %}
{% block body%}

{%for obj in object%}
    <p>
        <img src="{{ obj.image.url }}" width="500px" height="300px">
    </p>

    <p>
        hello {{obj.user.get_full_name}} <br/>
        bio : <br/>
        {% if obj.bio %}
            {{ obj.bio }}
        {% endif %}
    </p>

    {% if location %}
        <p>
            location : {{ obj.location }}
        </p>
    {% endif %}

    {% if age_year %}
        <p>
            age : {{ age_year }} year and {{ age_month }} month
        </p>
    {% endif %}

    {% if is_user_own %}
        <a href="edit/">edit profile</a>
    {% endif %}

    <div id='select-quiz-content'>
        <input type="range" id = 'grade-range' />
        <input type="range" id = 'lesson-range' />
        <input type="range" id = 'chapter-range' />
        <input type="range" id = 'topic-range' />
        <input type="range" id = 'source-range' />
        <input type="tange" id = 'level-range' />
        <input type="range" id = 'number-range' />
        <input type="button" id = 'start-exam-btn' value="Fire Up!" />
    <div>

{% endfor %}

{% endblock %}