{% extends 'base.html' %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript" src="/static/markdownx/js/markdownx-jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/static/js/users/profile_edit.js" ></script>
{% endblock%}

{% block body %}
    <div id = "errors">
    </div>
    
    {% for obj in object %}
        <img src='{{ obj.image.url }}' height="300px" width="500px" id = 'user-image'>
        <input type="hidden" value="{{obj.user.username}}" id='username' />
    {% endfor %}
    {{ form.as_p }}
        
        <div id="editing-succ-container"> 
        <input type="button" value="submit" id="submit"  />
    </div>

{% endblock %}