{% extends 'base.html' %}
{% block extrahead%}
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/users/start_exam.js"></script>
{% endblock %}

{% block body%}

{%for obj in object%}
    <p>
        <img src="{{ obj.image.url }}" width="500px" height="300px">
    </p>

    <p>
        hello {{obj.user.get_full_name}} <br/>
        bio : <br/>
        {% if obj.bio %}
            {{ obj.bio }}
        {% endif %}
    </p>

    {% if location %}
        <p>
            location : {{ obj.location }}
        </p>
    {% endif %}

    {% if age_year %}
        <p>
            age : {{ age_year }} year and {{ age_month }} month
        </p>
    {% endif %}

    {% if is_user_own %}
        <a href="edit/">edit profile</a>
   
        <form method="POST" action="/quizzes/ask/">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" id = 'start-exam-btn' value="Fire Up!" />
        </form>
    {% endif %}
{% endfor %}

{% endblock %}